In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("content_based_recommendation_dataset.csv")
df = df.drop_duplicates()

In [3]:
df.shape

(1018, 13)

In [4]:
df.columns

Index(['Number of clicks on similar products',
       'Number of similar products purchased so far',
       'Average rating given to similar products', 'Gender',
       'Median purchasing price (in rupees)', 'Rating of the product',
       'Brand of the product', 'Customer review sentiment score (overall)',
       'Price of the product', 'Holiday', 'Season', 'Geographical locations',
       'Probability for the product to be recommended to the person'],
      dtype='object')

In [5]:
df = df[["Number of similar products purchased so far" , "Rating of the product" , "Gender" , "Median purchasing price (in rupees)" ,  "Price of the product" , "Holiday" , "Season" , "Probability for the product to be recommended to the person"]]

In [6]:
df.head()

,Number of similar products purchased so far,Rating of the product,Gender,Median purchasing price (in rupees),Price of the product,Holiday,Season,Probability for the product to be recommended to the person
0,4,4.5,male,500,200,No,winter,0.9
1,2,3.2,female,3000,300,Yes,monsoon,0.2
2,10,4.8,female,600,1000,No,spring,0.7
3,1,2.5,female,100,300,No,summer,0.1
4,5,4.3,male,2000,700,Yes,winter,0.8

## Exploratory Data Analysis

In [7]:
# !pip install ydata-profiling

In [8]:
# import numpy as np
# import pandas as pd
# from ydata_profiling import ProfileReport

# profile = ProfileReport(df, title="Profiling Report")

In [9]:
# profile.to_widgets()

In [10]:
# profile.to_notebook.iframe()

In [11]:
# profile.to_file("Report.html")

## Feature Engineering

In [12]:
df.head()

,Number of similar products purchased so far,Rating of the product,Gender,Median purchasing price (in rupees),Price of the product,Holiday,Season,Probability for the product to be recommended to the person
0,4,4.5,male,500,200,No,winter,0.9
1,2,3.2,female,3000,300,Yes,monsoon,0.2
2,10,4.8,female,600,1000,No,spring,0.7
3,1,2.5,female,100,300,No,summer,0.1
4,5,4.3,male,2000,700,Yes,winter,0.8

In [13]:
df.isnull().sum()

Number of similar products purchased so far                    0
Rating of the product                                          0
Gender                                                         0
Median purchasing price (in rupees)                            0
Price of the product                                           0
Holiday                                                        0
Season                                                         0
Probability for the product to be recommended to the person    0
dtype: int64

In [14]:
# Label Encoding
replacement_mapping = {
    "male" : 1,
    "female" : 0,
    "Yes" : 1,
    "No" : 0
}

df["Gender"] = df["Gender"].replace(replacement_mapping)
df["Holiday"] = df["Holiday"].replace(replacement_mapping)

In [15]:
df.isnull().sum()

Number of similar products purchased so far                    0
Rating of the product                                          0
Gender                                                         0
Median purchasing price (in rupees)                            0
Price of the product                                           0
Holiday                                                        0
Season                                                         0
Probability for the product to be recommended to the person    0
dtype: int64

In [16]:
# One Hot Encoding on Season

one_hot_encoded = pd.get_dummies(df['Season'], prefix='')
one_hot_encoded = one_hot_encoded.astype(int)
df = pd.concat([df, one_hot_encoded], axis=1)
df.drop("Season", axis=1, inplace=True)

In [17]:
df.isnull().sum()

Number of similar products purchased so far                    0
Rating of the product                                          0
Gender                                                         0
Median purchasing price (in rupees)                            0
Price of the product                                           0
Holiday                                                        0
Probability for the product to be recommended to the person    0
_monsoon                                                       0
_spring                                                        0
_summer                                                        0
_winter                                                        0
dtype: int64

In [18]:
df.reset_index(inplace = True)

In [19]:
from sklearn.preprocessing import StandardScaler

# Columns to be scaled
columns_to_scale = ['Median purchasing price (in rupees)', 'Price of the product']

scaler = StandardScaler()
for target_column in columns_to_scale:
    scaled_data = scaler.fit_transform(df[[target_column]])
    scaled_df = pd.DataFrame(scaled_data, columns=[target_column])
    scaled_df.reset_index(inplace = True)
    df[target_column] = scaled_df[target_column]

In [20]:
scaled_df["Price of the product"]

0      -0.533843
1      -0.486805
2      -0.157540
3      -0.486805
4      -0.298654
          ...
1013   -0.486805
1014   -0.345692
1015   -0.204578
1016   -0.392730
1017   -0.345692
Name: Price of the product, Length: 1018, dtype: float64

In [21]:
df.isnull().sum()

index                                                          0
Number of similar products purchased so far                    0
Rating of the product                                          0
Gender                                                         0
Median purchasing price (in rupees)                            0
Price of the product                                           0
Holiday                                                        0
Probability for the product to be recommended to the person    0
_monsoon                                                       0
_spring                                                        0
_summer                                                        0
_winter                                                        0
dtype: int64

In [22]:
df.head()

,index,Number of similar products purchased so far,Rating of the product,Gender,Median purchasing price (in rupees),Price of the product,Holiday,Probability for the product to be recommended to the person,_monsoon,_spring,_summer,_winter
0,0,4,4.5,1,-0.780803,-0.533843,0,0.9,0,0,0,1
1,1,2,3.2,0,-0.018569,-0.486805,1,0.2,1,0,0,0
2,2,10,4.8,0,-0.750314,-0.157540,0,0.7,0,1,0,0
3,3,1,2.5,0,-0.902761,-0.486805,0,0.1,0,0,1,0
4,4,5,4.3,1,-0.323463,-0.298654,1,0.8,0,0,0,1

In [23]:
df.shape

(1018, 12)

In [24]:
df.isnull().sum()

index                                                          0
Number of similar products purchased so far                    0
Rating of the product                                          0
Gender                                                         0
Median purchasing price (in rupees)                            0
Price of the product                                           0
Holiday                                                        0
Probability for the product to be recommended to the person    0
_monsoon                                                       0
_spring                                                        0
_summer                                                        0
_winter                                                        0
dtype: int64

### Model Building

### Performance Metrics:
#### 1) Root mean squared error and mean absolute error with respect to training data
#### 2) Root mean squared error and mean absolute error with respect to testing data
#### 3) Inference latency

In [25]:
for column in df.columns:
    print(column)

index
Number of similar products purchased so far
Rating of the product
Gender
Median purchasing price (in rupees)
Price of the product
Holiday
Probability for the product to be recommended to the person
_monsoon
_spring
_summer
_winter

In [26]:
df.columns

Index(['index', 'Number of similar products purchased so far',
       'Rating of the product', 'Gender',
       'Median purchasing price (in rupees)', 'Price of the product',
       'Holiday',
       'Probability for the product to be recommended to the person',
       '_monsoon', '_spring', '_summer', '_winter'],
      dtype='object')

In [27]:
df.isnull().sum()

index                                                          0
Number of similar products purchased so far                    0
Rating of the product                                          0
Gender                                                         0
Median purchasing price (in rupees)                            0
Price of the product                                           0
Holiday                                                        0
Probability for the product to be recommended to the person    0
_monsoon                                                       0
_spring                                                        0
_summer                                                        0
_winter                                                        0
dtype: int64

In [28]:
x = df[['Number of similar products purchased so far', 'Rating of the product',
       'Gender', 'Holiday',
       '_monsoon', '_spring', '_summer', '_winter',
       'Median purchasing price (in rupees)', 'Price of the product']]
Y = df[['Probability for the product to be recommended to the person']]

In [29]:
from sklearn.model_selection import train_test_split

x_train, x_test, Y_train, Y_test = train_test_split(x, Y, test_size=0.2, random_state=42)

In [30]:
import time
from sklearn.metrics import mean_squared_error

def evaluation(model, x_train, x_test, y_train, y_test):
    # Training data evaluation
    y_train_pred = model.predict(x_train)
    train_rmse = mean_squared_error(y_train, y_train_pred, squared=False)
    train_mse = mean_squared_error(y_train, y_train_pred)
    
    # Testing data evaluation
    y_test_pred = model.predict(x_test)
    test_rmse = mean_squared_error(y_test, y_test_pred, squared=False)
    test_mse = mean_squared_error(y_test, y_test_pred)
    
    # Inference time for a single row sample from x_train
    start_time = time.time()
    _ = model.predict([x_train.iloc[0]])
    end_time = time.time()
    inference_time = end_time - start_time
    
    return {
        'Training RMSE': train_rmse,
        'Training MSE': train_mse,
        'Testing RMSE': test_rmse,
        'Testing MSE': test_mse,
        'Inference Time': inference_time
    }

In [31]:
# Linear Regression

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(x_train, Y_train)

outputs = evaluation(model , x_train, x_test, Y_train, Y_test)
outputs

C:\Users\maste\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

{'Training RMSE': 0.1288270765376349,
 'Training MSE': 0.016596415649233635,
 'Testing RMSE': 0.12318871651898096,
 'Testing MSE': 0.01517545987759385,
 'Inference Time': 0.0}

In [32]:
# Support Vector Regressor
from sklearn.svm import SVR

for type in ['linear' , 'poly' , 'rbf' , 'sigmoid']:
    print(type)
    model = SVR(kernel = type)
    model.fit(x_train, Y_train)

    outputs = evaluation(model , x_train, x_test, Y_train, Y_test)
    print(outputs)

C:\Users\maste\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

linear
{'Training RMSE': 0.12919978660107528, 'Training MSE': 0.01669258485776339, 'Testing RMSE': 0.12385997559003038, 'Testing MSE': 0.015341293553162922, 'Inference Time': 0.0}
poly
{'Training RMSE': 0.13138242716646062, 'Training MSE': 0.017261342168150326, 'Testing RMSE': 0.1266005826829533, 'Testing MSE': 0.016027707535663294, 'Inference Time': 0.0}
rbf
{'Training RMSE': 0.11874037651621795, 'Training MSE': 0.014099277015213204, 'Testing RMSE': 0.11847773374698901, 'Testing MSE': 0.01403697339382242, 'Inference Time': 0.0}
sigmoid
{'Training RMSE': 21.276482999917075, 'Training MSE': 452.68872884576035, 'Testing RMSE': 22.750477454012433, 'Testing MSE': 517.584224385528, 'Inference Time': 0.0}

C:\Users\maste\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(
C:\Users\maste\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\maste\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(
C:\Users\maste\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\maste\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(
C:\Users\maste\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\maste\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [33]:
# Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, random_state=42)

model.fit(x_train, Y_train)

outputs = evaluation(model , x_train, x_test, Y_train, Y_test)
outputs

C:\Users\maste\AppData\Local\Temp\ipykernel_5900\2712086634.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, Y_train)
C:\Users\maste\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

{'Training RMSE': 0.036789484165126986,
 'Training MSE': 0.001353466145136129,
 'Testing RMSE': 0.08449280171912574,
 'Testing MSE': 0.007139033542347496,
 'Inference Time': 0.016564369201660156}

In [34]:
import pickle

with open('random_forest_model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [35]:
df.head()

,index,Number of similar products purchased so far,Rating of the product,Gender,Median purchasing price (in rupees),Price of the product,Holiday,Probability for the product to be recommended to the person,_monsoon,_spring,_summer,_winter
0,0,4,4.5,1,-0.780803,-0.533843,0,0.9,0,0,0,1
1,1,2,3.2,0,-0.018569,-0.486805,1,0.2,1,0,0,0
2,2,10,4.8,0,-0.750314,-0.157540,0,0.7,0,1,0,0
3,3,1,2.5,0,-0.902761,-0.486805,0,0.1,0,0,1,0
4,4,5,4.3,1,-0.323463,-0.298654,1,0.8,0,0,0,1

In [36]:
df.columns

Index(['index', 'Number of similar products purchased so far',
       'Rating of the product', 'Gender',
       'Median purchasing price (in rupees)', 'Price of the product',
       'Holiday',
       'Probability for the product to be recommended to the person',
       '_monsoon', '_spring', '_summer', '_winter'],
      dtype='object')

In [37]:
'index',
'Number of similar products purchased so far',
'Rating of the product',
'Gender',
'Median purchasing price (in rupees)',
'Price of the product',
'Holiday',
'Probability for the product to be recommended to the person'

('Probability for the product to be recommended to the person',)

### Use the Model

In [40]:
input = df.sample(n = 1)
number_of_similar_products =

In [41]:
input

,index,Number of similar products purchased so far,Rating of the product,Gender,Median purchasing price (in rupees),Price of the product,Holiday,Probability for the product to be recommended to the person,_monsoon,_spring,_summer,_winter
788,1244,8,4.7,1,0.591218,-0.345692,0,0.9,0,0,0,1

In [ ]:
list []
model.predict(list)